body {
  background-color: pink;
}
h1 {
	text-align:center;
	color: black;
	font-family: "Garamond", serif;
	font-size: 2em;
}
ul.nav {
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
	background-color:pink;
}
li.nav {
	float: right;
}
li.nav a {
	font-family: "Garamond", serif;
	font-size: 1.2em;
	display: inline-block;
  	color: black;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}
li.nav a:hover {
	background-color: #007a00;
}
